div.margin li.t{
    margin-top:20px;
}
div.margin li.r{
    margin-right:20px;
}
div.margin li.b{
    margin-bottom:20px;
}
div.margin li.l{
    margin-left:20px;
}
div.margin li.trbl{
    margin:20px 25px 30px 35px;
}
div.margin li.trb{
    margin:20px 25px 30px;
}
div.margin li.tr{
    margin:20px 30px;
}
div.margin li.all{
    margin:30px;
}
