div.margin li.t{
    margin-top:20px;
}
div.margin li.r{
    margin-right:20px;
}
div.margin li.b{
    margin-bottom:20px;
}
div.margin li.l{
    margin-left:20px;
}
div.margin li.trbl{
    margin:20px 25px 30px 35px;
}
div.margin li.trb{
    margin:20px 25px 30px;
}
div.margin li.tr{
    margin:20px 30px;
}
div.margin li.all{
    margin:30px;
}
div.border td.none{
    border:none;
}
div.border td.hidden{
    border:hidden;
}
div.border td.solid{
    border:solid;
}
div.border td.double{
    border:double;
}
div.border td.dotted{
    border:dotted;
}
div.border td.dashed{
    border:dashed;
}
div.border td.groove{
    border:groove;
}
div.border td.ridge{
    border:ridge;
}
div.border td.inset{
    border:inset;
}
div.border td.outset{
    border:outset;
}
div.etc td{
    text-align:center;
}