th, td{
    border:1px solid black;
}
.flex-container{
    width:300px;
    height:200px;
    background-color:#c4c4c4;   
    border:1px solid black;
}
.flex-item{
    color:white;
    background-color:#ff5252; /* 기본 배경 색상 */
}
.flex-item:nth-child(2n){
    background-color:#bf5e5e;
}

div.flex div.flex-container{
    display:flex;
}

div.flex-row div.flex-container{
    display:flex;
    flex-direction:row;
}

div.flex-row-reverse div.flex-container{
    display:flex;
    flex-direction:row-reverse;
}

div.flex-column div.flex-container{
    display:flex;
    flex-direction:column;
}

div.flex-column-reverse div.flex-container{
    display:flex;
    flex-direction:column-reverse;
}

div.nowrap div.flex-container{
    display:flex;
}

div.wrap div.flex-container{
    display:flex;
    flex-wrap:wrap;
}

div.wrap-reverse div.flex-container{
    display:flex;
    flex-wrap:wrap-reverse;
}

div.flex-start div.flex-container{
    display:flex;
    justify-content:flex-start;
}

div.flex-end div.flex-container{
    display:flex;
    justify-content:flex-end;
}

div.center div.flex-container{
    display:flex;
    justify-content:center;
}

div.space-between div.flex-container{
    display:flex;
    justify-content:space-between;
}

div.space-around div.flex-container{
    display:flex;
    justify-content:space-around;
}

div.space-evenly div.flex-container{
    display:flex;
    justify-content:space-evenly;
}

div.stretch div.flex-container{
    display:flex;
    align-items:stretch;
}

div.flex-start div.flex-container{
    display:flex;
    align-items:flex-start;
}

div.flex-end div.flex-container{
    display:flex;
    align-items:flex-end;
}

div.center div.flex-container{
    display:flex;
    align-items:center;
}

div.baseline div.flex-container{
    display:flex;
    align-items:baseline;
}

div.align-content *{
    flex-wrap:wrap;
}

div.align-self div.flex-container{
    display:flex;
}
div.align-self div.flex-item:nth-child(1){
    align-self:stretch;
}
div.align-self div.flex-item:nth-child(2){
    align-self:flex-start;
}
div.align-self div.flex-item:nth-child(3){
    align-self:flex-end;
}
div.align-self div.flex-item:nth-child(4){
    align-self:center;
}
div.align-self div.flex-item:nth-child(5){
    align-self:baseline;
}