th, td{
    border:1px solid black;
}
.grid-item{
    color:white;
    background-color:#ff5252;
}
.grid-item:nth-child(2n){
    background-color:#bf5e5e;
}

div.grid div.grid-container{
    display:grid;
}
div.inline-grid div.grid-container{
    display:inline-grid;
}

div.grid-template div.grid-container{
    display:grid;
    grid-template-columns:150px 150px;
    grid-template-rows:100px 100px;
}
div.grid-template_auto div.grid-container{
    display:grid;
    grid-template-columns:auto 150px;
    grid-template-rows:auto 100px;
}

div.gap div.grid-container{
    display:grid;
    grid-template-columns:repeat(2, 100px);
    grid-template-rows:repeat(2, 100px);
    row-gap:10px;
    column-gap:20px;
}

div.align-items div.stretch div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    align-items:stretch;
}
div.align-items div.start div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    align-items:start;
}
div.align-items div.center div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    align-items:center;
}
div.align-items div.end div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    align-items:end;
}

div.justify-items div.stretch div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    justify-items:stretch;
}
div.justify-items div.start div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    justify-items:start;
}
div.justify-items div.center div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    justify-items:center;
}
div.justify-items div.end div.grid-container{
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
    justify-items:end;
}

div.grid-template-areas div.grid-container{
    display:grid;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}
div.grid-template-areas #header{
    grid-area:header;
}
div.grid-template-areas #sidebar{
    grid-area:sidebar;
}
div.grid-template-areas #content{
    grid-area:content;
}
div.grid-template-areas #footer{
    grid-area:footer;
}